<%= form_for(patient_type, :html => {:class => "ui blue form segment"}) do |f| %>
  <% if patient_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient_type.errors.count, "error") %> prohibited this patient_type from being saved:</h2>

      <ul>
      <% patient_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="two fields">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :discount %>
      <%= f.number_field :discount, :step => 0.01 %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', :class => "ui button" %>
  </div>
<% end %>
