<h1 class="ui blue header">
  <%= link_to 'New Discount', new_patient_type_path, :class => "ui right floated button" %>
  Discounts
</h1>

<table class="ui blue selectable celled striped table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Discount</th>
      <th>Created by</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @patient_types.each do |patient_type| %>
      <tr>
        <td><%= patient_type.name %></td>
        <td><%= patient_type.discount %></td>
        <td><%= patient_type.user.first_name %> <%= patient_type.user.last_name %></td>
        <td class="center aligned">
          <%= link_to edit_patient_type_path(patient_type), :class => "ui blue button" do %>
            <i class="edit icon"></i>
            Edit
          <% end %>
        </td>
        <td class="center aligned">
          <%= link_to patient_type, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui red button" do %>
            <i class="delete icon"></i>
            Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
