<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient_type.name %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @patient_type.discount %>
</p>

<p>
  <strong>User:</strong>
  <%= @patient_type.user %>
</p>

<%= link_to 'Edit', edit_patient_type_path(@patient_type) %> |
<%= link_to 'Back', patient_types_path %>
