<%= form_for(field_type, :html => {:class => "ui blue form segment"}) do |f| %>
  <% if field_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(field_type.errors.count, "error") %> prohibited this field_type from being saved:</h2>

      <ul>
      <% field_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', :class => "ui button" %>
  </div>
<% end %>
