<h1 class="ui blue header">
  <%= link_to 'New Field Type', new_field_type_path, :class => "ui right floated button" %>
  Field Types
</h1>

<table class="ui blue selectable striped celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created by</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @field_types.each do |field_type| %>
      <tr>
        <td><%= field_type.name %></td>
        <td><%= field_type.user.first_name %> <%= field_type.user.last_name %></td>
        <td class="center aligned">
          <%= link_to edit_field_type_path(field_type), :class => "ui blue button" do %>
            <i class="edit icon"></i>
            Edit
          <% end %>
        </td>
        <td class="center aligned">
          <%= link_to field_type, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui red button" do %>
            <i class="delete icon"></i>
            Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
