<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @field_type.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @field_type.user %>
</p>

<%= link_to 'Edit', edit_field_type_path(@field_type) %> |
<%= link_to 'Back', field_types_path %>
