/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

@import "semantic-ui";

#landing-page{
  height: 100vh;
  max-width: 100vw;
  background-image: image_url("background.jpg");
}

#login_form{
  height: 40vh;
  margin-top: 20vh;
  margin-left: 32.5vw;
  margin-right: 32.5vw;
}

#login_form img{
  max-width: 30vw;
}

#navbar{
  width: 10vw;
}

#navbar .item{
  font-size: 2.5vh;
}

.item img{
  max-width: 10vw;
}

.pusher{
  margin-top: 3vh;
  margin-left: 11.5vw;
  margin-right: 1vw;
}

.inline.field .button{
  margin-left: 0.5vw;
}

.ui.segment p{
  font-size: 1.75vh;
}

.ui.divider{
  margin-bottom: -2.25vh;
}

.ui.divider i{
  font-size: 0.5vh;
}

.ui.test.selectable.celled.blue.table{
  width: 50vw;
}

#new_order{
  text-align: center;
}

.ui.accordion{
  margin-top: 4vh;
}

.ui.accordion .title{
  height: 6.5vh;
}

.ui.table{
  margin-top: 3vh;
}

.queue .button{
  margin-top: -1vh;
}

.queue{
  font-size: 2.5vh;
  margin-top: 4vh;
  margin-bottom: 2vh;
}
