<div class="ui segment" id="landing-page">
  <div class="ui middle aligned center aligned grid" id="login_form">
    <div class="column">
      <%= image_tag "menu_logo.png" %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "ui inverted blue form segment"}) do |f| %>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.text_field :username, :placeholder => "Username", autofocus: true %>
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, :placeholder => "Password", autocomplete: "off" %>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="inline field">
            <div class="ui checkbox">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", :class => "ui button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
