<!DOCTYPE html>
<html>
  <head>
    <title>Choice Health</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag "favicon.png" %>
  </head>

  <body>
    <% if current_user != nil %>
      <nav class="ui inverted blue vertical demo visible sidebar menu", id="navbar" data-no-turbolink>
        <%= link_to root_path, :class => "header item" do %>
          <%= image_tag "menu_logo_white.png" %>
        <% end %>
        <%= link_to root_path, :class => "item" do %>
          <i class="home icon"></i>
          Home
        <% end %>
        <%= link_to patients_path, :class => "item" do %>
          <i class="treatment icon"></i>
          Patients
        <% end %>
        <%= link_to test_types_path, :class => "item" do %>
          <i class="list icon"></i>
          Tests
        <% end %>
        <%= link_to field_types_path, :class => "item" do %>
          <i class="columns icon"></i>
          Test Fields
        <% end %>
        <% if current_user.role_id == @admin_id %>
          <%= link_to users_path, :class => "item" do %>
            <i class="user icon"></i>
            Users
          <% end %>

          <%= link_to personnels_path, :class => "item" do %>
            <i class="doctor icon"></i>
            Personnel
          <% end %>

          <%= link_to patient_types_path, :class => "item" do %>
            <i class="money icon"></i>
            Discounts
          <% end %>
        <% end %>
        <%= link_to destroy_user_session_path(current_user), method: "delete", :class => "item" do %>
          <i class="sign out icon"></i>
          Logout
        <% end %>
      </nav>
      <div class="pusher">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
