<%= form_for(test_field, :html => {:class => "ui blue form segment"}) do |f| %>
  <% if test_field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test_field.errors.count, "error") %> prohibited this test_field from being saved:</h2>

      <ul>
      <% test_field.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Field Type</label>
    <%= f.select :field_type_id, @field_types, {}, {:class => "ui search selection dropdown"} %>
  </div>

  <div class="field">
    <%= f.label :data %>
    <%= f.text_area :data %>
  </div>

  <%= f.hidden_field :test_id, :value => @test_id %>

  <div class="actions">
    <%= f.submit 'Submit', :class => "ui button"%>
  </div>
<% end %>
