<p id="notice"><%= notice %></p>

<h1>Test Fields</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_fields.each do |test_field| %>
      <tr>
        <td><%= link_to 'Show', test_field %></td>
        <td><%= link_to 'Edit', edit_test_field_path(test_field) %></td>
        <td><%= link_to 'Destroy', test_field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Field', new_test_field_path %>
