<h1 class="ui blue header">
  <%= link_to 'Back', tests_show_results_path(:test_id => @test_id), :class => "ui right floated button" %>
  New Test Field
</h1>

<%= render 'form', test_field: @test_field %>
