<%= form_for(patient, :html => {:class => "ui blue form segment"}) do |f| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4>Name</h4>
  <div class="three fields">
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :middle_name %>
      <%= f.text_field :middle_name %>
    </div>

    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
  </div>

  <h4>Patient Details</h4>
  <div class="three fields">
    <div class="field">
      <%= f.label :sex %>
      <%= f.text_field :sex %>
    </div>

    <div class="field">
      <%= f.label :birthday %>
      <%= f.date_field :birthday, :class => "datepicker", :value => @birthday %>
    </div>

    <div class="field">
      <%= f.label :status %>
      <%= f.text_field :status %>
    </div>
  </div>

  <h4>Contact Details</h4>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :contact_no %>
    <%= f.number_field :contact_no %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", :class => "ui button" %>
  </div>
<% end %>
