<h1 class="ui blue header">
  <%= link_to 'Back', patients_path, :class => "ui right floated button" %>
  <%= link_to 'Show', @patient, :class => "ui right floated blue button" %>
  Editing Patient
</h1>

<%= render 'form', patient: @patient %>
