<h1 class="ui blue header">
  Patients
</h1>
<%= form_tag(patients_search_path, method: "post", :class => "ui form") do %>
  <div class="inline field">
    <%= link_to 'New Patient', new_patient_path, :class => "ui right floated button", 'data-no-turbolink' => true %>
    <%= text_field_tag 'searched_patient', nil, :placeholder => "Search Patient", :style => "width: 70vw"%>
    <%= submit_tag "Search", :class => "ui button" %>
  </div>
<% end %>

<table class="ui selectable celled blue table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Contact no</th>
      <th>Created By</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td>
          <%= patient.first_name %>
          <%= patient.middle_name %>
          <%= patient.last_name %>
        </td>
        <td><%= patient.address %></td>
        <td><%= patient.contact_no %></td>
        <td>
          <%= patient.user.first_name %>
          <%= patient.user.middle_name %>
          <%= patient.user.last_name %>
        </td>
        <td class="center aligned">
          <%= link_to patient, :class => "ui green button" do %>
            <i class="search icon"></i>Show
          <% end %>
        </td>
        <td class="center aligned">
          <%= link_to edit_patient_path(patient), :class => "ui blue button" do %>
            <i class="edit icon"></i>Edit
          <% end %>
        </td>
        <td class="center aligned">
          <%= link_to patient, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui red button" do %>
            <i class="delete icon"></i>Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
