<h2 class="ui blue header">
  <%= link_to 'Back', patients_path, :class => "ui right floated button" %>
  <%= link_to 'Edit', edit_patient_path(@patient), :class => "ui right floated blue button" %>
  <%= @patient.first_name %> <%= @patient.middle_name %> <%= @patient.last_name %>
</h2>
<div class="ui blue segment">
  <h3 class="ui blue header">Patient Details</h3>
  <p>
    <strong>Sex:</strong>
    <%= @patient.sex %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= @patient.birthday.strftime("%B %-d, %Y") %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @patient.status %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= @patient.user.first_name %>
    <%= @patient.user.middle_name %>
    <%= @patient.user.last_name %>
  </p>

  <div class="ui blue horizontal divider">
    .
  </div>

  <h3 class="ui blue header">Contact Details</h3>
  <p>
    <strong>Address:</strong>
    <%= @patient.address %>
  </p>

  <p>
    <strong>Contact no:</strong>
    <%= @patient.contact_no %>
  </p>

  <div class="ui blue horizontal divider">
    .
  </div>
  <h3 class="ui blue header">
    <div class="ui blue right floated type button">
      <i class="add icon"></i>
      Add Discount
    </div>
    Discounts
  </h3>
  <table class="ui blue celled striped table">
    <thead>
      <th>Discount Name</th>
      <th>Action</th>
    </thead>
    <tbody>
      <%
        i = 0
        @patient_lookups.each do |patient_lookup|
      %>
        <tr>
          <td><%= @patient_types[i].name %></td>
          <td class="center aligned">
            <%= link_to patients_remove_patient_type_path(:patient_lookup => patient_lookup.id), data: {:confirm => "Are you sure?"}, :class => "ui red button" do %>
              <i class="remove icon"></i>
              Remove Discount
            <% end %>
          </td>
        </tr>
      <%
        i += 1
        end
      %>
      <% if @patient_lookups == [] %>
        <tr>
          <td colspan="2" class="center aligned"><strong>No Discounts Found</strong></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h3 class="ui blue header">
  <%= link_to new_order_path(:patient_id => @patient.id), data: { confirm: 'Are you sure?'}, :class => "ui right floated blue button" do %>
    <i class="add icon"></i>
    Add Order
  <% end %>
  Orders
</h3>
<% if @orders == [] %>
  <div class="ui center aligned blue segment">
    No Orders Found
  </div>
<% else %>
  <div class="ui blue fluid styled accordion">
    <% i = 0
      @orders.each do |order|
        if order == @orders[0] %>
          <div class="active title">
        <% else %>
          <div class="title">
        <% end %>
          <i class="dropdown icon"></i>
          <%= link_to order, :class => "ui green right floated button" do%>
            Show Order
          <% end %>
          <%= link_to order, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui red right floated button" do %>
            <i class="delete icon"></i>
            Cancel Order
          <% end %>
          Order <%= i + 1 %> (Total: Php <%= order.total %>)
        </div>

        <% if order == @orders[0] %>
          <div class="active content">
        <% else %>
          <div class="content">
        <% end %>
          <p>
            <strong>Date Ordered: </strong>
            <%= order.date_ordered.localtime.strftime("%B %d, %Y %I:%M %p") %>
          </p>
          <p>
            <strong>Created By: </strong>
            <%= order.user.first_name %>
            <%= order.user.middle_name %>
            <%= order.user.last_name %>
          </p>
          <table class="ui test selectable celled blue table">
            <thead>
              <tr>
                <th>Test</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <% if @tests[i] == [] %>
                <tr>
                  <td colspan="2" class="center aligned">No Tests Found</td>
                </tr>
              <% end %>
              <% @tests[i].each do |tests| %>
                <tr>
                  <td><%= tests.test_type.name %></td>
                  <td><%= tests.test_type.amount %></td>
                </tr>
              <% end %>
              <tr>
                <td colspan="2"></td>
              </tr>
              <tr>
                <td>Subtotal</td>
                <td><%= order.subtotal %></td>
              </tr>
              <tr>
                <td>Discount (<%= order.discount * 100 %>%)</td>
                <td>-<%= order.discount * order.subtotal %></td>
              </tr>
              <tr>
                <td>Total</td>
                <td><%= order.total %></td>
              </tr>
              <tr>
                <td>Payment</td>
                <td><%= order.payment %></td>
              </tr>
              <tr>
                <td>Change</td>
                <td>-<%= order.change %></td>
              </tr>
            </tbody>
          </table>
        </div>
    <% i+=1
      end %>
  </div>
<% end %>

<div class="ui type modal">
  <div class="header">
    Add Discount
  </div>
  <div class="content">
    <%= form_tag patients_add_patient_type_path do %>
      <%= hidden_field_tag :patient_id, @patient.id %>
      <div class="field">
        <label>Discount</label>
        <%= select_tag :patient_type_id, options_for_select(@all_patient_types), {:class => "ui search selection dropdown", :include_blank => :None} %>
      </div>
      <%= submit_tag 'Add Discount', :class => "ui button" %>
    <% end %>
  </div>
</div>
