<h1 class="ui blue header">
  <%= link_to 'Back', users_path, :class => "ui right floated button" %>
  <%= link_to 'Show', @user, :class => "ui blue right floated button" %>
  Editing User
</h1>

<%= render 'form', user: @user %>
