<h1 class="ui blue header">
  <%= link_to 'New User', new_user_path, :class => "ui right floated button" %>
  Users
</h1>

<table class="ui blue striped celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Role</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %> <%= user.middle_name %> <%= user.last_name %></td>
        <td><%= user.username %></td>
        <td><%= user.role.name %></td>
        <td class="center aligned">
          <%= link_to user, :class => "ui green button" do %>
            <i class="search icon"></i>
            Show
          <% end %>
        </td>
        <td class="center aligned">
          <%= link_to edit_user_path(user), :class => "ui blue button" do %>
            <i class="edit icon"></i>
            Edit
          <% end %>
        </td>
        <td class="center aligned">
          <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui red button" do %>
            <i class="delete icon"></i>
            Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
