<h1 class="ui blue header">
  <%= link_to 'Back', users_path, :class => "ui right floated button" %>
  New User
</h1>

<%= form_tag(users_create_user_path, :method => :post, :class => "ui blue form segment") do %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3 class="ui header">Name</h3>
  <div class="three fields">
    <div class="field">
      <%= label_tag :first_name %>
      <%= text_field_tag :first_name, @user.first_name %>
    </div>

    <div class="field">
      <%= label_tag :middle_name %>
      <%= text_field_tag :middle_name, @user.middle_name  %>
    </div>

    <div class="field">
      <%= label_tag :last_name %>
      <%= text_field_tag :last_name, @user.last_name  %>
    </div>
  </div>

  <h3 class="ui header">Credentials</h3>
  <div class="three fields">
    <div class="field">
      <%= label_tag :username %>
      <%= text_field_tag :username, @user.username  %>
    </div>

    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>

    <div class="field">
      <%= label_tag :password_confirmation %>
      <%= password_field_tag :password_confirmation %>
    </div>
  </div>

  <h3 class="ui header">User Details</h3>
  <div class="three fields">
    <div class="field">
      <%= label_tag :email %>
      <%= email_field_tag :email, @user.email  %>
    </div>

    <div class="field">
      <%= label_tag :mobile_number %>
      <%= number_field_tag :mobile_number, @user.mobile_number %>
    </div>

    <div class="field">
      <%= label_tag :role %>
      <%= select_tag :role_id, options_for_select(Role.all.collect { |r| [r.name, r.id] }), {:class => "ui dropdown"} %>
    </div>
  </div>

  <div class="actions">
    <%= submit_tag 'Submit', :class => "ui button" %>
  </div>
<% end %>
