<h1 class="ui blue header">
  <%= link_to 'Back', users_path, :class => "ui right floated button" %>
  <%= link_to 'Edit', edit_user_path(@user), :class => "ui blue right floated button" %>
  <%= @user.first_name %> <%= @user.middle_name %> <%= @user.last_name %>
</h1>

<div class="ui blue segment">
  <p>
    <strong>Username: </strong>
    <%= @user.username %>
  </p>

  <p>
    <strong>Role: </strong>
    <%= @user.role.name %>
  </p>

  <p>
    <strong>Mobile Number: </strong>
    <%= @user.mobile_number %>
  </p>

  <p>
    <strong>E-mail: </strong>
    <%= @user.email %>
  </p>
</div>
