<div class="ui <%= @line_count %> column grid">
  <%
    i = 0
    @lines.each do |line|
  %>
    <div class="column">
      <div class="ui blue segment">
        <h2 class="ui blue header"><%= line.name %></h2>
        <% if @tests[i] == [] %>
          <strong>No Tests Queued</strong>
        <% end %>
        <% @tests[i].each do |t| %>
          <p class="queue">
            <%=
              test_type = TestType.find(t.test_type_id)
              test_type.name
            %>
            <% if !test_type.physician_id.nil? %>
              (<%= Physician.find(test_type.physician_id).first_name %>
              <%= Physician.find(test_type.physician_id).last_name %>)
            <% end %>

            <%= link_to tests_show_results_path(:test_id => t.id), :class => "ui blue right floated button" do %>
              <i class="search icon"></i>
              Show Results
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  <%
    i += 1
    end
  %>
</div>
