<%= form_for(physician, :html => {:class => "ui blue form segment"}) do |f| %>
  <% if physician.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(physician.errors.count, "error") %> prohibited this physician from being saved:</h2>

      <ul>
      <% physician.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3 class="ui blue header">Name</h3>
  <div class="three fields">
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :middle_name %>
      <%= f.text_field :middle_name %>
    </div>

    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
  </div>

  <h3 class="ui blue header">Title</h3>
  <div class="two fields">
    <div class="field">
      <%= f.label :prefix %>
      <%= f.text_field :prefix %>
    </div>

    <div class="field">
      <%= f.label :suffix %>
      <%= f.text_field :suffix %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', :class => "ui button" %>
  </div>
<% end %>
