<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @physician.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @physician.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @physician.last_name %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= @physician.prefix %>
</p>

<p>
  <strong>Suffx:</strong>
  <%= @physician.suffx %>
</p>

<p>
  <strong>User:</strong>
  <%= @physician.user %>
</p>

<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
