<%= form_for(test, :html => {:class => "ui blue form segment"}) do |f| %>
  <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="two fields">
    <div class="field">
      <%= f.label :test_type_id %>
      <%= f.select :test_type_id, @test_types, {include_blank: true}, {:class => "ui search selection dropdown"} %>
    </div>

    <div class="field">
      <%= f.label :medtech_id %>
      <%= f.select :medtech_id, @medteches, {:include_blank => "None"}, {:class => "ui search selection dropdown"} %>
    </div>
  </div>

  <% if @current_path != new_test_path %>
      <div class="inline field">
        <div class="ui checkbox">
          <% if @test.date_received.nil? %>
            <%= f.check_box :date_received %>
            <label>Received Today</label>
          <% else %>
            <%= f.check_box :date_received, :checked => true %>
            <label>Received <%= @test.date_received.localtime.strftime("%B %d, %Y %I:%M %p") %></label>
          <% end %>
        </div>
      </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :order_id, :value => @order.id %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', :class => "ui button" %>
  </div>
<% end %>
