<h1 class="ui blue header">
  <%= link_to 'Back', @order, :class => "ui right floated button" %>
  <%= link_to 'Show', @test, :class => "ui blue right floated button" %>
  Editing Test
</h1>

<%= render 'form', test: @test %>
