<h1 class="ui blue header">
  <%= link_to 'Back to Order', @t.order, :class => "ui right floated button" %>
  <%= link_to new_test_field_path(:test_id => @t.id), :class => "ui blue right floated button" do %>
    <i class="add icon"></i>
    Add Data
  <% end %>
  <%= link_to tests_finish_test_path(:test_id => @t.id), :data => {:confirm => "Are you sure?"}, :class => "ui green right floated button" do %>
    <% if @t.date_done.nil? %>
      <i class="check icon"></i>
      Finish Test
    <% else %>
      <i class="repeat icon"></i>
      Redo Test
    <% end %>
  <% end %>
  <%= @test_type_name %> Results for <%= @patient_name %>
</h1>
<table class="ui blue selectable celled striped table">
  <thead>
    <tr>
      <th>Field</th>
      <th>Data</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @fields.each do |field|%>
      <tr>
        <td><strong><%= FieldType.find(field.field_type_id).name %></strong></td>
        <td><%= field.data %></td>
        <td class="center aligned">
          <%= link_to edit_test_field_path(field), :class => "ui blue button" do %>
            <i class="edit icon"></i>
            Edit
          <% end %>
        </td>
        <td class="center aligned">
          <%= link_to field, :method => :delete, :data => {:confirm => "Are you sure?"}, :class => "ui red button" do %>
            <i class="delete icon"></i>
            Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
