<h1 class="ui blue header">
  <%= @test.test_type.name %> for <%= @test.order.patient.first_name %> <%= @test.order.patient.last_name %>
  <%= link_to 'Back', @order, :class => "ui right floated button" %>
  <%= link_to 'Edit', edit_test_path(@test), :class => "ui blue right floated button" %>
</h1>

<div class="ui blue segment">
  <p>
    <% if @test.date_received.nil? %>
      <strong>Not yet received</strong>
    <% else %>
      <strong>Date received:</strong>
      <%= @test.date_received %>
    <% end %>
  </p>

  <p>
    <% if @test.medtech_id.nil? %>
      <strong>No Medtech Needed</strong>
    <% else %>
      <strong>Done by:</strong>
      <%= @medtech.first_name %> <%= @medtech.last_name %>
    <% end %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= @test.user.first_name %> <%= @test.user.last_name %>
  </p>
</div>
