<%= form_for(order, :html => {:class => "ui form"}) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :patient_id, :value => @patient.id %>

  <div class="actions">
    <%= f.submit "Create", :class => "ui blue button" %>
    <%= link_to "Cancel", @patient, :class => "ui button"%>
  </div>
<% end %>
