<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Date ordered</th>
      <th>Subtotal</th>
      <th>Discount</th>
      <th>Total</th>
      <th>Payment</th>
      <th>Change</th>
      <th>Patient</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.date_ordered %></td>
        <td><%= order.subtotal %></td>
        <td><%= order.discount %></td>
        <td><%= order.total %></td>
        <td><%= order.payment %></td>
        <td><%= order.change %></td>
        <td><%= order.patient %></td>
        <td><%= order.user %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
