<div id="new_order">
  <h2 class="ui blue header">
    Are you sure you want to create order for <%= @patient.first_name%> <%= @patient.middle_name%> <%= @patient.last_name%>?
  </h2>
  <%= render 'form', order: @order %>
</div>
