<%= wicked_pdf_stylesheet_link_tag "print_order" %>
<div id="header">
  <%= wicked_pdf_image_tag "header.png", size: "900x110" %>
</div>
<div id="content">
  <p>
    Order Number: <%= @order.id.to_s.length < 10 ? "0" * (10 - @order.id.to_s.length) + @order.id.to_s : @order.id %>
  </p>
  <p>
    Patient: <%= @order.patient.last_name + ", " + @order.patient.first_name + " " + @order.patient.middle_name[0] + "." %>
  </p>
  <p>
    Address: <%= @order.patient.address %>
  </p>
  <p>
    Age: <%= ((DateTime.now - @order.patient.birthday).to_i)/365 %>
  </p>
  <p>
    Sex: <%= @order.patient.sex %>
  </p>
  <p>
    Birthdate: <%= @order.patient.birthday.strftime("%m/%d/%Y") %>
  </p>

  <table>
    <thead>
      <tr>
        <th>Test</th>
        <th>Price</th>
        <th>Date Received</th>
        <th>Medtech Assigned</th>
        <th>Results</th>
      </tr>
    </thead>
    <tbody>
      <% if @tests == [] %>
        <tr>
          <td colspan="5" class="center aligned">No Tests Found</td>
        </tr>
      <% end %>
      <%
        i = 0
        @tests.each do |tests|
      %>
        <tr>
          <td>
            <%= tests.test_type.name %>
            <% if @physicians[i].class != String %>
              (<%= @physicians[i].first_name %> <%= @physicians[i].last_name %>)
            <% end %>
          </td>
          <td><%= tests.test_type.amount %></td>
          <td>
            <% if tests.date_received.nil? %>
              Not yet Received
            <% else %>
              <%= tests.date_received.localtime.strftime("%B %d, %Y %I:%M %p") %>
            <% end %>
          </td>
          <td>
            <% if tests.medtech_id.nil? %>
              No Medtech Assigned
            <% else %>
              <% m = Medtech.find(tests.medtech_id) %>
              <%= m.first_name + " " + m.last_name %>
            <% end %>
          </td>
        </tr>
      <%
        i += 1
        end
      %>
      <tr>
        <td colspan="4"></td>
      </tr>
      <tr>
        <td>Subtotal</td>
        <td><%= @order.subtotal %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Discount (<%= @order.discount * 100 %>%)</td>
        <td>-<%= @order.discount * @order.subtotal %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Total</td>
        <td><%= @order.total %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Payment</td>
        <td><%= @order.payment %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Change</td>
        <td>-<%= @order.change %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <p>Prepared by: <%= @user.first_name + " " + @user.last_name %></p>
  <p>Order Date: <%= @order.created_at.strftime("%m/%d/%Y") %></p>
</div>
