<h1 class="ui blue header">
  <%= link_to 'Back', @order.patient, :class => "ui right floated button" %>
  <%= link_to @order, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui red right floated button button" do %>
    <i class="delete icon"></i>
    Cancel Order
  <% end %>
  <div class="ui green pay right floated button">
    <i class="money icon"></i>
    <% if @order.payment != 0 %>
      Change Payment
    <% else %>
      Pay Order
    <% end %>
  </div>
  <%= link_to orders_print_order_path(:order_id => @order.id, :format => :pdf), target: :_blank, :class => "ui blue right floated button" do %>
    <i class="print icon"></i>
    Print Order
  <% end %>
  View Order for <%= @order.patient.first_name %> <%= @order.patient.last_name %>
</h1>

<div class="ui blue form segment">
  <h3 class="ui blue header">Order Details</h3>
  <p>
    <strong>Date ordered:</strong>
    <%= @order.date_ordered.localtime.strftime("%B %d, %Y %I:%M %P") %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= @order.user.first_name %> <%= @order.user.middle_name %> <%= @order.user.last_name %>
  </p>
</div>

<h2 class="ui blue header">
  <%= link_to new_test_path(:order_id => @order.id), :class=>"ui right floated blue button" do %>
    <i class="add icon"></i>
    Add Test
  <% end %>
  Tests
</h2>

<table class="ui selectable celled blue table">
  <thead>
    <tr>
      <th>Test</th>
      <th>Price</th>
      <th>Date Received</th>
      <th>Medtech Assigned</th>
      <th>Results</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @tests == [] %>
      <tr>
        <td colspan="7" class="center aligned">No Tests Found</td>
      </tr>
    <% end %>
    <%
      i = 0
      @tests.each do |tests|
    %>
      <tr>
        <td>
          <%= tests.test_type.name %>
          <% if @physicians[i].class != String %>
            (<%= @physicians[i].first_name %> <%= @physicians[i].last_name %>)
          <% end %>
        </td>
        <td><%= tests.test_type.amount %></td>
        <td>
          <% if tests.date_received.nil? %>
            Not yet Received
          <% else %>
            <%= tests.date_received.localtime.strftime("%B %d, %Y %I:%M %p") %>
          <% end %>
        </td>
        <td>
          <% if tests.medtech_id.nil? %>
            No Medtech Assigned
          <% else %>
            <% m = Medtech.find(tests.medtech_id) %>
            <%= m.first_name + " " + m.last_name %>
          <% end %>
        </td>
        <td class="center aligned">
          <% if tests.date_done.nil? %>
            Not yet Finished
          <% else %>
            <%= link_to tests_show_results_path(:test_id => tests.id), :class => "ui green button" do %>
              <i class="search icon"></i>
              Show Results
            <% end %>
          <% end %>
        </td>
        <td class="center aligned">
          <%= link_to edit_test_path(tests), :class => "ui blue button" do %>
            <i class="edit icon"></i>
            Edit
          <% end %>
        </td>
        <td class="center aligned">
          <%= link_to tests, :method => :delete, :data => {:confirm => "Are you sure?"}, :class => "ui red button" do %>
            <i class="delete icon"></i>
            Delete
          <% end %>
        </td>
      </tr>
    <%
      i += 1
      end
    %>
    <tr>
      <td colspan="7"></td>
    </tr>
    <tr>
      <td>Subtotal</td>
      <td><%= @order.subtotal %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Discount (<%= @order.discount * 100 %>%)</td>
      <td>-<%= @order.discount * @order.subtotal %></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="center aligned">
        <% if @order.discount == 0 %>
          <div class="ui blue discount button">
            <i class="add icon"></i>
            Add Discount
          </div>
        <% else %>
          <%= link_to orders_add_discount_path(:discount => -1, :order_id => @order.id), :data => {:confirm => "Are you sure?"}, :class => "ui red button" do %>
            <i class="remove icon"></i>
            Remove Discount
          <% end %>
        <% end %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>Total</td>
      <td><%= @order.total %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Payment</td>
      <td><%= @order.payment %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Change</td>
      <td>-<%= @order.change %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<div class="ui small discount modal">
  <div class="header">
    Add Discount
  </div>
  <div class="content">
    <%= form_tag orders_add_discount_path do %>
      <%= hidden_field_tag :order_id, @order.id %>
      <div class="field">
        <label>Discount</label>
        <%= select_tag :discount, options_for_select(@patient_lookup.append(["None", 0])), {:class => "ui dropdown", :include_blank => :None} %>
      </div>
      <%= submit_tag 'Add Discount', :class => "ui button" %>
    <% end %>
  </div>
</div>

<div class="ui small pay modal">
  <div class="header">
    Pay Order
  </div>
  <div class="content">
    <%= form_tag orders_pay_order_path do %>
      <%= hidden_field_tag :order_id, @order.id %>
      <div class="field">
        <label>Amount</label>
        <%= number_field_tag :payment, nil, :step => 0.01 %>
      </div>
      <%= submit_tag 'Pay Order', :class => "ui button" %>
    <% end %>
  </div>
</div>
