<%= form_for(medtech, :html => {:class => "ui blue form segment"}) do |f| %>
  <% if medtech.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medtech.errors.count, "error") %> prohibited this medtech from being saved:</h2>

      <ul>
      <% medtech.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="three fields">
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :middle_name %>
      <%= f.text_field :middle_name %>
    </div>

    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', :class => "ui button" %>
  </div>
<% end %>
