<h1 class="ui blue header">
  <%= link_to 'New Medtech', new_medtech_path, :class => "ui right floated button" %>
  Medteches
</h1>

<table class="ui blue selectable striped celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created by</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @medteches.each do |medtech| %>
      <tr>
        <td><%= medtech.first_name %> <%= medtech.middle_name %> <%= medtech.last_name %></td>
        <td><%= medtech.user.first_name %> <%= medtech.user.last_name %></td>
        <td class="center aligned">
          <%= link_to edit_medtech_path(medtech), :class => "ui blue button" do %>
            <i class="edit icon"></i>
            Edit
          <% end %>
        </td>
        <td class="center aligned">
          <%= link_to medtech, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui red button" do %>
            <i class="delete icon"></i>
            Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1 class="ui blue header">
  <%= link_to 'New Physician', new_physician_path, :class => "ui right floated button" %>
  Physicians
</h1>

<table class="ui blue selectable striped celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created by</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @physicians.each do |physician| %>
      <tr>
        <td><%= physician.prefix %> <%= physician.first_name %> <%= physician.middle_name %> <%= physician.last_name %>
          <% if physician.suffix != nil %>
           , <%= physician.suffix %>
          <% end %>
        </td>
        <td><%= physician.user.first_name %> <%= physician.user.last_name %></td>
        <td class="center aligned">
          <%= link_to edit_physician_path(physician), :class => "ui blue button" do %>
            <i class="edit icon"></i>
            Edit
          <% end %>
        </td>
        <td class="center aligned">
          <%= link_to physician, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui red button" do %>
            <i class="delete icon"></i>
            Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
