<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @medtech.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @medtech.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @medtech.last_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @medtech.user %>
</p>

<%= link_to 'Edit', edit_medtech_path(@medtech) %> |
<%= link_to 'Back', personnels_path %>
