<%= form_for(test_type, :html => {:class => "ui blue form segment"}) do |f| %>
  <% if test_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test_type.errors.count, "error") %> prohibited this test_type from being saved:</h2>

      <ul>
      <% test_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="two fields">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :amount %>
      <%= f.number_field :amount, :step => 0.01 %>
    </div>
  </div>

  <div class="two fields">
    <div class="field">
      <%= f.label :physician_id %>
      <%= f.select :physician_id, @physicians, {:include_blank => "None"}, {:class => "ui search selection dropdown"} %>
    </div>

    <div class="field">
      <%= f.label :line_id %>
      <%= f.select :line_id, @lines, {}, {:class => "ui search selection dropdown"} %>
    </div>

  </div>

  <div class="actions">
    <%= f.submit 'Submit', :class => "ui button" %>
  </div>
<% end %>
