<h1 class="ui blue header">
  <%= link_to 'Back', test_types_path, :class => "ui right floated button" %>
  <%= link_to 'Show', @test_type, :class => "ui blue right floated button" %>
  Editing Test Type
</h1>

<%= render 'form', test_type: @test_type %>
