<h1 class="ui blue header">
  Test Types
</h1>
<%= form_tag(test_types_search_path, method: "post", :class => "ui form") do %>
  <div class="inline field">
    <%= link_to 'New Test Type', new_test_type_path, :class => "ui right floated button" %>
    <%= text_field_tag 'searched_test', nil, :placeholder => "Search Test", :style => "width: 70vw"%>
    <%= submit_tag "Search", :class => "ui button" %>
  </div>
<% end %>

<table class="ui blue celled striped table">
  <thead>
    <tr>
      <th>Name and Physician</th>
      <th>Price</th>
      <th>Queue</th>
      <th>Created by</th>
      <th colspan="2" class="center aligned">Actions</th>
    </tr>
  </thead>

  <tbody>
    <%
      i = 0
      @test_types.each do |test_type|
    %>
      <tr>
        <td>
          <%= test_type.name %>
          <% if @physicians[i].class != String %>
            (<%= @physicians[i].first_name %> <%= @physicians[i].last_name %>)
          <% end %>
        </td>
        <td>Php <%= test_type.amount %></td>
        <td><%= test_type.line.name %></td>
        <td><%= test_type.user.first_name %> <%= test_type.user.last_name %></td>
        <td class="center aligned">
          <%= link_to edit_test_type_path(test_type), :class => "ui blue button" do %>
            <i class="edit icon"></i>
            Edit
          <% end %>
        </td>
        <td class="center aligned">
          <%= link_to test_type, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui red button" do %>
            <i class="delete icon"></i>
            Delete
          <% end %>
        </td>
      </tr>
    <%
      i += 1
      end
    %>
  </tbody>
</table>
