<h1 class="ui blue header">
  <%= link_to 'Back', test_types_path, :class => "ui right floated button" %>
  <%= link_to 'Edit', edit_test_type_path(@test_type), :class => "ui blue right floated button" %>
  <%= @test_type.name %>
  <% if @physician.class != String %>
    (<%= @physician.first_name %> <%= @physician.last_name %>)
  <% end %>
</h1>

<div class="ui blue segment">
  <h3 class="ui blue header">Test Details</h3>
  <p>
    <strong>Amount:</strong>
    <%= @test_type.amount %>
  </p>

  <p>
    <strong>Queue:</strong>
    <%= @test_type.line.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @test_type.user.first_name %> <%= @test_type.user.last_name %>
  </p>
</div>
